:root {
  --row-fill: #ffc837;
  --isUser-fill: #65d635;
  --dps: #29ff6f;

  --text-color: rgb(255, 255, 255);
  --text-shadow: 1px 0 0 rgba(0, 0, 0, 0.55), -1px 0 0 rgba(0, 0, 0, 0.55),
    0 1px 0 rgba(0, 0, 0, 0.55), 0 -1px 0 rgba(0, 0, 0, 0.55), 0 2px 6px rgba(0, 0, 0, 0.35);

  --rounded-lg: 12px;
  --rounded: 10px;
  --rounded-sm: 8px;
  --rounded-xs: 6px;

  --panel-border: rgba(255, 255, 255, 0.12);
  --title: rgba(235, 245, 255, 0.95);
}

* {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}
.container {
  position: relative;
}
.meter {
  width: 320px;

  backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: var(--rounded);
}

.header {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  padding: 8px 12px;
  .bossIcon {
    display: flex;
    align-items: center;
    width: 88px;
    img {
      -webkit-user-select: none;
      user-select: none;
      width: 100%;
    }
  }

  .bossNames {
    flex: 1;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    font-weight: bold;
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .headerBtns {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    gap: 8px;
    text-shadow: var(--text-shadow);
    cursor: pointer;
    .headerBtn {
      display: flex;
      align-items: center;
      width: 20px;
      height: 20px;
    }
  }
}
.list:has(.item:not([style*="display: none"])) {
  padding: 4px 12px 12px;
}

.list {
  display: grid;
  gap: 4px;
  padding: 0px 12px;
  .item {
    position: relative;
    height: 32px;
    padding: 0 8px;
    border-radius: var(--rounded-xs);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
  }

  .item.isUser {
    cursor: pointer;
  }
  .item.isUser .fill {
    background: var(--isUser-fill);
  }

  .fill {
    position: absolute;
    inset: 0;

    background: var(--row-fill);
    transform-origin: left center;
    transform: scaleX(0);

    transition: transform 150ms ease;
  }

  .content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    .classIcon {
      width: 18px;
      height: 18px;
      background: transparent;
    }
    .name {
      flex: 1;
      color: var(--text-color);
      font-size: 18px;
      text-shadow: var(--text-shadow);
      font-weight: bold;
    }
    .dps {
      color: var(--dps);
      font-size: var(--font);
      text-shadow: var(--text-shadow);
      font-weight: bold;
    }
  }
}

.detailsPanel.open {
  display: block;
}

.detailsPanel {
  position: absolute;
  color: white;
  display: none;
  left: 0px;
  top: calc(100% + 8px);
  font-weight: bold;

  width: 600px;
  border: 1px solid var(--panel-border);
  background: rgba(12, 22, 40, 0.7);
  overflow: hidden;
  padding: 12px 24px;
  border-radius: var(--rounded);
}

.detailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding-bottom: 12px;
  margin-bottom: 12px;
  .closeX {
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    padding: 2px 8px;
    border-radius: 6px;
    transition: 0.2s;
    border-radius: 4px;
  }
  .closeX:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

.detailsStats {
  display: grid;
  gap: 12px 24px;
  grid-template-columns: repeat(2, 1fr);
  .stat {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
}

.detailsSkills {
  margin-top: 14px;
  .cell.name {
    flex: 1;
  }
  .cell.cast {
    flex: 1;
  }
  .cell.dmg {
    flex: 2;
    text-align: center;
  }
  .cell.right {
    text-align: right;
  }
  .skillHeader {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  .skillRow {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 6px;

    .cell.dmg {
      position: relative;
      overflow: hidden;
      height: 32px;

      .dmgFill {
        position: absolute;
        inset: 0;
        background: var(--isUser-fill);
        border-radius: var(--rounded-xs);
        transform-origin: left center;
      }
      .dmgText {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        text-shadow: var(--text-shadow);
        color: var(--dps);
      }
    }
  }
}
